@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
  --txColor: #076001;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection {
  background-color: var(--txColor);
  color: #FFF;
}
header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
}
.logo-header {
  position: absolute;
  display: flex;
  width: 10em;
  height: 10em;
  left: 15vw;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.content {
  width: 50vh;
  border: 2px solid var(--txColor);
  border-radius: 20px;
  padding: 40px 20px;
}
.content h1 {
  text-align: center;
  font-size: 2em;
  color: #075402;
  margin-bottom: 3px;
}
.content .subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  margin-bottom: 15px;
  color: var(--txColor);
}
#msgSuccess {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  color: var(--txColor);
  border: 2px solid var(--txColor);
  padding: 10px 5px;
  border-radius: 20px;
  background: #42fc3541;
  display: none;
  margin-bottom: 15px;
}
#msgError {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  color: #ff0000;
  border: 2px solid #ff0000;
  padding: 10px 5px;
  border-radius: 20px;
  background: #f95f5f41;
  display: none;
  margin-bottom: 15px;
}
#msgError span::selection {
  background: red;
  color: #fff;
}
.labelFloat {
  color: var(--txColor);
  position: relative;
  margin-bottom: 15px;
  font-size: 0.9em;
}
.labelFloat label {
  pointer-events: none;  
}
.labelFloat i{
  position: absolute;
  top: 8px;
}
.labelFloat input {
  position: relative;
  color: var(--txColor);
  border-radius: 10px;
  border: 1px solid var(--txColor);
  line-height: 160%;
  padding: 5px 10px;
  outline-color: #076001;
  left: 8%;
}
#name,
#email {
  width: 90%;
}
#passInput,
#passInputConfirm {
  width: 80%;
}
.labelFloat ::placeholder {
  color: #07600180;
}
.labelFloat span {
  position: relative;
  bottom: 5px;
  cursor: pointer;
}
#btnSingUp {
  border: 2px solid transparent;
  width: 100%;
  background-color: var(--txColor);
  border-radius: 20px;
  height: 35px;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .2s;
}
#btnSingUp:hover {
  background: #ffffff;
  color: var(--txColor);
  border: 2px solid var(--txColor);
}
#btnSingIn {
  border: 2px solid var(--txColor);
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  height: 35px;
  color: var(--txColor);
  margin-bottom: 20px;
  cursor: pointer;
  transition: .2s;
  display: none;
}
#btnSingIn:hover {
  background: var(--txColor);
  color: #fff;
  border: 2px solid var(--txColor);
}
.signInLink {
  text-align: center;
  font-size: 0.7em;
  text-decoration: none;
  color: var(--txColor);
}
.signInLink a {
  font-weight: bold;
  text-decoration: none;
  color: var(--txColor);
  transition: .2s;
}
.signInLink a:hover {
color: #07600198;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  color: var(--txColor);
}