@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
  --txColor: #076001;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection {
  background-color: var(--txColor);
  color: #FFF;
}
header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
}
.logo-header {
  position: absolute;
  display: flex;
  width: 10em;
  height: 10em;
  left: 15vw;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.content {
  width: 50vh;
  border: 2px solid var(--txColor);
  border-radius: 20px;
  padding: 40px 20px;
}
.content h1 {
  text-align: center;
  font-size: 2em;
  color: #075402;
  margin-bottom: 3px;
}
.content .subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  margin-bottom: 15px;
  color: var(--txColor);
}
#msgError {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  color: #ff0000;
  border: 2px solid #ff0000;
  padding: 10px 5px;
  border-radius: 20px;
  background: #f95f5f41;
  display: none;
  margin-bottom: 15px;
}
#msgError span::selection {
  background: red;
  color: #fff;
}
#notFoundUser {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  color: #ff0000;
  border: 2px solid #ff0000;
  padding: 10px 5px;
  border-radius: 20px;
  background: #f95f5f41;
  display: none;
  margin-bottom: 15px;
}
#notFoundUser span::selection {
  background: red;
  color: #fff;
}
.labelFloat {
  color: var(--txColor);
  position: relative;
  margin-bottom: 10px;
  font-size: 0.9em;
}
.labelFloat label {
  pointer-events: none;  
}
.labelFloat input {
  color: var(--txColor);
  border-radius: 10px;
  border: 1px solid var(--txColor);
  line-height: 160%;
  padding: 5px 10px;
  margin: 6px 0px;
  outline-color: #076001;
}
#email{
  width: 90%;
}
#passInput {
  width: 80%;
}
.labelFloat ::placeholder {
  color: #07600180;
}
#showPassIcon {
  position: relative;
  top: 3px;
  right: 30px;
  cursor: pointer;
}
#correctEmail {
  position: absolute;
  right: 0px;
  top: 33px;
  display: none;
}
#correctPass {
  position: absolute;
  right: 30px;
  top: 33px;
  display: none;
}
.forgotPass {
  color: var(--txColor);
  font-size: 0.7em;
  text-decoration: none;
}
.forgotPass:hover{
  font-weight: bold;
}
#btnSingIn {
  border: 2px solid transparent;
  width: 100%;
  background-color: var(--txColor);
  border-radius: 20px;
  height: 35px;
  color: #fff;
  margin: 18px 0px;
  transition: .2s;
  cursor: pointer;
}
.Msg1 {
  display: block;
}
.Msg2 {
  display: none;
}
#btnSingIn:hover {
  background: #ffffff;
  color: var(--txColor);
  border: 2px solid var(--txColor);
}
.signUpLink {
  text-align: center;
  font-size: 0.7em;
  text-decoration: none;
  color: var(--txColor);
}
.signUpLink a {
  font-weight: bold;
  text-decoration: none;
  color: var(--txColor);
  transition: .2s;
}
.signUpLink a:hover {
  color: #07600198;
  }
footer {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100%;
  color: var(--txColor);
  align-items: center;
}
